.popup-container {
  position: fixed;
  max-width: 350px;
  background: rgba(236, 240, 241,1);
  border: 7px solid #38CBD3;
  background-color: #38CBD3;
  bottom: 0;
  margin-left: -425px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.popup-container .header {
  text-align: center;
  position: relative;
  background: #38cbd3;
  color: #fafafa;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  width: 100%;
  padding: 12px 0;
}

.popup-container .close {
  color: #fafafa;
  right: 8px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 0;
}

.popup-container .popup-label {
  font-size: 17px;
  color: #fafafa;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  padding: 0 20px;
  display: block;
}

a.whatsapp, a.facebook {
  text-decoration: none !important;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  padding: 8px 0;
  display: block;
}

a.whatsapp {
  border-bottom: 2px solid #1bc65a;
  background: #25D366;
}

a.facebook {
border-bottom: 2px solid #415e93;
  background: #4b6598;
}
 
#popx-plus {
  position: fixed;
  color: #fff;
  bottom: 15%;
  font-size: 25px;
  margin-left: -425px;
  -webkit-transition: all 1.25s ease;
  -moz-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  transition: all 1.25s ease;
  cursor: pointer;
  text-align: left;
  letter-spacing: 1px;
  left: 0;
}

#popx-plus span {
  position: absolute;
  margin-top: 38px;
  left: 4px;
}

#popx-plus::after {
  content: '';
  display: block;
  display: relative;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 55px solid #38cbd3;
}

.popup-container .content {
  text-align: center;
  padding-bottom: 20px;
}

.popup-container .content .col {
  display: inline-block;
  width: 40%;
}

.demo-container {
    text-align: center;
    margin-top: 90px;
}

.demo-container .input-header {
  font-size: 1.4em;
}

.demo-container .input-header .number {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
}

.demo-container .input-fields {
    margin-left: 30px;
    margin-top: 12px;
}

.demo-container .input-label {
    padding: .5rem .75rem;
    font-weight: 400;
    line-height: 1.25;
    color: black;
    text-align: center;
    border-radius: .25rem;
}

.demo-container .input-fields > div {
    margin-bottom: 16px;
}

@media all and (max-width: 900px){
  #popUp{
    margin-left: -425px;
  }
  #plus{
    margin-left: 0px;
  }
}
